@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@model IEnumerable<ModelsLayer.ModelsInformation>
@using GridMvc.Html

<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("IndividualEmployeeInformation").Columns(columns =>
            {
                columns.Add(col => col.FirstName).Titled("First Name");
                columns.Add(col => col.LastName).Titled("Last Name");
                columns.Add(col => col.Sex).Titled("Sex");
                columns.Add(col => col.Address).Titled("Address");
            }).WithPaging(5).Sortable()
        </div>
    }
</div>