@{ViewBag.Title = "Contact";}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

@model IEnumerable<ModelsLayer.ModelsInformation>
@using GridMvc.Html

<div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="panel panel-primary pre-scrollable">
            @Html.Grid(Model).Named("IndividualEmployeeInformation").Columns(columns =>
            {
                columns.Add(col => col.FirstName).Titled("First Name");
                columns.Add(col => col.LastName).Titled("Last Name");
                columns.Add(col => col.Sex).Titled("Sex");
                columns.Add(col => col.Address).Titled("Address");
            }).WithPaging(5).Sortable()
        </div>
    }
</div>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>